- file:
    path: "{{ tgt }}"
    state: directory

- name: Copy project directories
  copy:
    src: "{{ repo }}/{{ item }}/"
    dest: "{{ tgt }}/{{ item }}/"
    mode: "0644"
  loop:
    - src
    - examples
    - processing
    - tests
 
- name: Copy necessary files
  copy:
    src: "{{ repo }}/{{ item }}"
    dest: "{{ tgt }}/{{ item }}"
    mode: 0600
  with_items:
    - bot.py
    - Makefile
    - poetry.lock
    - pyproject.toml
    - .env

- name: Copy executable script
  copy:
    src: "{{ repo }}/run_logs_extraction.sh"
    dest: "{{ tgt }}/run_logs_extraction.sh"
    mode: 0755

